{% extends 'base.html' %}
{% block content %}	
{% if messages %}
	<div class="alert alert-success alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
{% for message in messages %}
	<p>{{ message }}</p>
{% endfor %}
	</div>
{% endif %}
	<section id="register" class="bg-light py-5">
		<div class="container">
			<div class="row">
				<div class="col-md-6 mx-auto">
					<div class="card">
						<div class="card-header bg-dark text-white border-none" >
							<h4> <center><i class="fas fa-user-plus" style="text-align: center;"></i> Ahodwoproperties Invoice</h4></center>
						</div>
						<div class="card-body">      
								<form action="{% url 'accounts' %}" method="POST">
									{% csrf_token %}
									
								<div class="form-group">
									<label for="description">Description*</label>
									<textarea name="description" id="" cols="65%" rows="2" style="border-radius: 5px;"></textarea>
								</div>
								<div class="form-group">
									<label for="address">Post Ref*</label>
									<input type="number" name="post_ref" class="form-control"  required>
								</div>
						 
								<p style="padding-bottom: 0;">Select Transaction Type*</p>
            <input type="radio" id="multiple_choice" name="transaction_type" value="debit">
            Debit
            <input type="radio" id="calculated" name="transaction_type" value="credit"> Credit<br>
								<br>
						<div class="form-group">
									<label for="address">Amount ₵*</label>
									<input type="number" name="amount" class="form-control"  required>
								</div><br>
								<div class="form-group">
									<label for="address">Agent*</label>
									{% if request.user.is_authenticated %}
										<input type="text" name="agent" value="{{ user.first_name }} {{ user.last_name }}" class="form-control"  readonly >
        					{% endif %}
								</div> <br>						 
								<div class="form-group">
									<label for="date">Transaction Date*</label>
									<input type="date" name="transaction_date" class="form-control"  placeholder="Date of Birth"  required>
								</div>				
								<div class="form-group">
									<label for="description">Comments*</label>
									<textarea name="comment" id="" cols="65%" rows="2" style="border-radius: 5px;"></textarea>
								</div>				
								<input type="submit" value="Add Transaction" class="btn btn-secondary btn-block">
							</form>					 
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	</div>

	<!-- Hidden Modal reponse box -->
	<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Success!</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
			</div>
			<div id="success">	
			</div>
    </div>
  </div>
</div>
<div class="text-center" style="display: none;">
  <a href="" id="link" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm"></a>
</div>

<!-- javascript for success message modal response -->
<script>
	link =  document.getElementById('link')
	success =  document.getElementById('success')
	trigger = '{{trigger|safe}}'
	let return_value = JSON.parse(trigger)
	
		window.onload = (event) => {
		response = ''
		if(trigger){ 
		response+= `<p>You have successfully added a service with the following information</p>
			<p><strong>Service: </strong>${return_value['trigger']['service']}</p>
			<p><strong>Description: </strong>${return_value['trigger']['description']}</p>`;
			success.innerHTML = response
			link.click()
		}
		
	};
</script>
	{% endblock %}
   