{% extends 'base.html'%} {% block content %} {% if last_balance %}
<p> Account Balance:<strong> ₵{{ last_balance }}</strong> </p>
<p> Available Balance:<strong> ₵{{ availabe_balance }}</strong> </p>
{% endif %} {% if accounts_metrics %}
<div style="overflow-x: auto;">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Transaction Date</th>
				<th scope="col">Description</th>
				<th scope="col">Trans. Ref. No</th>
				<th scope="col">Post Ref.</th>
				<th scope="col">Debit (₵)</th>
				<th scope="col">Credit (₵)</th>
				<th scope="col">Balance (₵)</th>
				<th scope="col">Agent</th>
				<!-- <th scope="col">Transaction Agent</th> -->
				<!-- <th scope="col">Date Added</th> -->
			</tr>
		</thead>
		{% endif %}
		<tbody>
			{% if accounts_metrics %} {% for k in accounts_metrics %}
			<tr class="tbody">
				<th scope="row">{{ forloop.counter }}</th>
				<td>{{ k.transaction_date }}</td>
				<td>{{ k.description }}</td>
				<td>{{ k.transaction_ref_no }}</td>
				<td>{{ k.post_ref }}</td>
				{% if k.debit != 0 %}
				<td>-{{ k.debit }}</td>
				{% else %}
				<td>{{ k.debi }}</td>
				{% endif %} {% if k.credit != 0 %}
				<td>{{ k.credit }}</td>
				{% else %}
				<td>{{ k.cred }}</td>
				{% endif %}
				<!-- <td>{{ k.debit }}</td> -->
				<!-- <td>{{ k.credit }}</td> -->
				<td>{{ k.balance }}</td>
				<td>{{ k.agent }}</td>
				<!-- <td>{{ k.location }}</td> -->
				<!-- <td>{{ k.agent }}</td> -->
				<td>{{ k.date }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% else %}
<p>No transaction has been added to the database.</p>
{% endif %}

<br />
{% endblock %}
