{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}	
{% if messages %}
	<div class="alert alert-warning alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
{% for message in messages %}
	<p>{{ message }}</p>
{% endfor %}
	</div>
{% endif %}
	<style>

		* {
			margin: 0;
			padding: 0;
		}
		#map{
			height: 100vh;
			width: 100%;	
		}
	</style>
</head>
<body>

			<input type="text"  id="property_id" placeholder="House/Plot No." style="display: inline; " required width="20px" >
		<!-- </div> -->
		
	<!-- </form> -->
	<button id="submit" class="btn btn-secondary mb-2" style="display: inline; border-radius:0px;" style="height: 2px;">Search</button>

<div id="map"></div>

<!-- Hidden Modal reponse box -->
<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header text-center">
			<h4 class="modal-title w-100 font-weight-bold">Success!</h4>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div id="success">	
		</div>
	</div>
</div>
</div>

<div class="text-center" style="display: none;">
<a href="" id="link" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm"></a>
</div>

<script>
	data = '{{data|safe}}'
	let cane = JSON.parse(data)



zoom_number = 14
center = {lat: 7.450527599214598, lng: -2.583989745780928}
let search_property;


document.getElementById('submit').addEventListener("click", function(event){
property_id = document.getElementById('property_id').value;
if(property_id in cane){
cord = cane[property_id]['geolocation']
cords = cord.slice(1, cord.length-1).split(',')
console.log(property_id)
search_property = {coords:{lat:parseFloat(cords[0]), lng:parseFloat(cords[1])},
animation: google.maps.Animation.DROP,
	content:`
	<div class="card-header bg-dark text-white">
		<h4>
			<center><i class="fas fa-user-plus"></i> Property Form</h4></center>
	</div>
	<div class="forming">
	<div class="card-body">
		<div class="content-section">
		<!-- <div class="container"> -->
		<div class="content-section"><p>Property Type:</strong> ${cane[property_id]['property_type']}</p>
	<p><strong>Description:</strong> ${cane[property_id]['description']}</p>
	<p><strong>House/Plot No:</strong> ${cane[property_id]['property_id']}</p>
	<p><strong>Sub Area:</strong> ${cane[property_id]['sub_area']}</p>
	<p><strong>Electorial Area:</strong> ${cane[property_id]['electorial_area']}</p>
	<p><strong>Geolocation:</strong> ${cane[property_id]['geolocation']}</p>
	<p><strong>Owner:</strong> ${cane[property_id]['owner']}</p>
	<p><strong>Owner's Contact:</strong> ${cane[property_id]['owner_contact']}</p>
	<p><strong>Price:</strong> ₵${cane[property_id]['price']}</p>
	<p><strong>Date Added:</strong> ${cane[property_id]['date']}</p>
		</div>
	</div>
</div>
</div>
				`}			
zoom_number = 17
center = {lat:parseFloat(cords[0]), lng:parseFloat(cords[1])}			
} else {
	zoom_number = 14
	center = {lat: 7.450527599214598, lng: -2.583989745780928}
	search_property= null
	};

initMap()

});


	//map function start here.
	function initMap(){

		// map options
		var options = {
		zoom:zoom_number,
			center:center,
			mapTypeId: 'satellite'
		}

	// new map
		var map = new google.maps.Map(document.getElementById('map'), options)

		// Listen for click on map
		google.maps.event.addListener(map, 'click', 
		function(event){
			//add marker
			addMarker({coords:event.latLng,
				draggable: true,
				 content:`<div class="card-header bg-dark text-white">
				<h4>
					<center><i class="fas fa-user-plus"></i> Property Form</h4></center>
			</div>
			<div class="forming">
			<div class="card-body">
				<div class="content-section">
						<!-- <div class="container"> -->
							<div class="content-section">
								<form action="{% url 'properties' %}" method="POST">
									{% csrf_token %}
									<div class="form-group">
										<label for="first_name">Electorial Area* <small>eg. Adom</small></label>
										<input type="text" name="electorial_area" class="form-control"   required>
									</div>
					
										<div class="form-group">
										<label for="first_name">Sub-Area* <small>eg. Adom West</small></label>
										<input type="text" name="sub_area" class="form-control"   required>
									</div>
								<div class="form-group">
									<label for="last_name">House/plot Number*</label>
									<input type="text" name="id" class="form-control">
								</div>
				
								<div class="form-group">
									<label for="first_name">Geolocation*</label>
									<input type="text" name="geolocation" id="geolocation" class="form-control"   value="${event.latLng}" readonly>
								</div>
				
								<div class="form-group">
									<label for="last_name">Propperty Description <small>eg. Boys Quarters</small></label>
									<input type="text" name="description" class="form-control"    >
								</div>
								<div class="form-group">
									<label for="last_name">Propperty Type <small>eg. Apartment</small></label>
									<input type="text" name="property_type" class="form-control"    >
								</div>
						 
								<div class="form-group">
									<label for="address">Owner*</label>
									<input type="text" name="owner" class="form-control"   required>
								</div>
								<div class="form-group">
									<label for="address">Owner's Contact*</label>
									<input type="number" name="contact" class="form-control"   required>
								</div>
								<div class="form-group">
									<label for="address">Price ₵*</label>
									<input type="number" name="price" class="form-control"  required>
								</div>						 
								<div class="form-group">
									<label for="address">Image*</label>
									<input type="file" id="img" name="image" accept="image/*">
								</div>
								<input type="text" value="map" style='display:none' name="director">
								<input type="submit" value="Add Property" class="btn btn-secondary btn-block">
							</form>
							</div>
				</div>
			</div>
			</div>
			`});
		

		
		
		
			
		});

		var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/library_maps.png';
		//Add marker
		var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
		/*var marker = new google.maps.Marker({
			position: {lat: 7.446251, lng:-2.581123},
			map:map,
			
		});
		//add infowindow
		var infoWindow = new google.maps.InfoWindow({
			content:`<h1>Our Office</h1>`
		});
		marker.addListener('click', function(){
			infoWindow.open(map, marker);
		});*/

		//array
		/*var markers = [
		{
			coords:{lat: 7.446251, lng:-2.581123},
			iconImage: iconBase,
			content:`<h1>Ahodwo Homes and Properties</h1>`
		}
		]
		
		//Loop through markers
		for(var i=0; i<markers.length;i++){
			addMarker(markers[i]);
		}*/
		if(search_property){addMarker(search_property)}

		//addMarker function
		function addMarker(props){
			var marker = new google.maps.Marker({
				position:props.coords,
				draggable:props.draggable,
				animation: props.animation,
				map:map,
				
			});

			var infoWindow = new google.maps.InfoWindow({
				content:props.content
				
			});

			marker.addListener('click', function(){
				infoWindow.open(map, marker);
			});

			marker.addListener('dragend', function(event){
			if(marker.draggable){
				coke = `(${event.latLng.lat()},${event.latLng.lng()})`
				infoWindow.open(map, marker);
				document.getElementById('geolocation').value = coke
				console.log(coke)
			}	
				
			});
			
		}
	
		}

	// Add marker

</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?v=weekly&key=AIzaSyDTYqnwWKhDp98RqkSALp9fwCVW-5DrlGg&callback=initMap">
</script>

<!-- javascript for success message modal response -->
<script>
	link =  document.getElementById('link')
	success =  document.getElementById('success')
	trigger = '{{trigger|safe}}'
	let return_value = JSON.parse(trigger)
	
		window.onload = (event) => {
		response = ''
		if(trigger){ 
		response+= `<p>You have successfully added a property with the following information</p>
			<p><strong>House/Plot No.: </strong>${return_value['trigger']['property_id']}</p>
			<p><strong>Geolocation: </strong>${return_value['trigger']['geolocation']}</p>
			<p><strong>Electorial Area: </strong>${return_value['trigger']['electorial_area']}</p>
			<p><strong>Sub Area: </strong>${return_value['trigger']['sub_area']}</p>
			<p><strong>Propery Type: </strong>${return_value['trigger']['property_type']}</p>
			<p><strong>Description: </strong>${return_value['trigger']['description']}</p>
			<p><strong>Owner: </strong>${return_value['trigger']['owner']}</p>
			<p><strong>Onwer's: </strong>${return_value['trigger']['contact']}</p>
			<p><strong>Price: </strong>${return_value['trigger']['price']}</p>
			`;
			success.innerHTML = response
			link.click()
		}
		
	};
</script>

{% endblock %}   