{% extends 'base.html'%}


{% block title %} | Browse Property Listings {% endblock %}

{% block content %}
<style>
      
    
	.table, thead, th, td {

		padding: 0.8rem;
		border: 1px solid black;
		table-layout: fixed ;
		width: 100% ;
		border-collapse: collapse ;
	}

	.table {
		border: 2px solid black;
		width: 100%;
		margin-top: 2rem;
	}
	th, td  {
		padding: 10px;
		text-align: center;
	}
	.bg-light {
		background-size: 0rem;
		padding: 0rem;
		margin: 0rem;
		margin-right: 2rem;
		margin-left:auto;
		background-color: red;
	}
	.contianer {
		background-color: red;
	}
	.col-md-6{
		background: red;
		width: 0;
	}
	.row{
		background-color: green;
		size:0rem
		with: 2rem;
		margin-right: 0rem;
	}
	
	.card{
		width: 25rem;
		background-size: 0rem;
		position: relative;
		float:left;
	}
	

</style>
Total To Date:<strong> ₵{{ total.charge__sum }}</strong>
{% if transaction_metrics %}
<table class="table">
		<thead>
		<tr>
				<th scope="col">#</th>
				<th scope="col">Invoice ID</th>
				<th scope="col">Client</th>
				<th scope="col">Client' Address</th>
				<th scope="col">Sale Price (₵)</th>
				<th scope="col">Percentage Charged</th>
				<th scope="col">Total Charge (₵)</th>
				<th scope="col">Property Type</th>
				<th scope="col">Location</th>
				<th scope="col">Transaction Agent</th>
				<th scope="col">Date</th>
		</tr>
		</thead>
{% endif %}  
{% if transaction_metrics %}
{% for k in transaction_metrics %}
		<tbody>
				<tr>
						<th scope="row">{{ forloop.counter }}</th>
						<td>{{ k.invoice_number }}</td>
						<td>{{ k.first }} {{ k.last }}</td>
						<td>{{ k.address }}</td>
						<td>{{ k.sales_price }}</td>
						<td>{{ k.percent_charged }}</td>
						<td>{{ k.charge }}</td>
						<td>{{ k.property_type }}</td>
						<td>{{ k.location }}</td>
						<td>{{ k.agent }}</td>
						<td>{{ k.date }}</td>
						
				</tr>        
		</tbody>       
{% endfor %}
</table>
{% else %}
<p>No request have been made to your school.</p>
{% endif %}


  <br>
{% endblock %}

