{% extends 'base.html'%} {% block content %}
<style>
	.listed {
		color: green;
	}
	.not-listed {
		color: lightgray;
	}

	.fa-circle {
		font-size: 0.8rem;
	}
</style>

{% if property_metrics %}
<table class="table">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">House/Plot Number</th>
			<th scope="col">Electorial Area</th>
			<!-- <th scope="col">Sub Area</th> -->
			<th scope="col">Owner</th>
			<th scope="col">Owner's Contact</th>
			<th scope="col">Property Description</th>
			<!-- <th scope="col">Property Type</th> -->
			<th scope="col">Listed</th>
			<th scope="col">Handler</th>
			<th scope="col">Date Added</th>
		</tr>
	</thead>
	{% endif %}
	<tbody>
		{% if property_metrics %} {% for k in property_metrics %}
		<tr class="tbody">
			<th scope="row">{{ forloop.counter }}</th>
			<td>{{ k.property_id }}</td>
			<td>{{ k.electorial_area }}</td>
			<!-- <td>{{ k.sub_area }}</td> -->
			<td>{{ k.owner }}</td>
			<td>{{ k.owner_contact }}</td>
			<td>{{ k.description }}</td>
			<!-- <td>{{ k.property_type }}</td> -->
			{% if k.is_listed %}

			<td class="listed"><i class="fas fa-circle"></i></td>
			{% else %}
			<td class="not-listed"><i class="fas fa-circle"></i></td>
			{% endif %}
			<td>{{ k.handler }}</td>
			<!-- <td>{{ k.agent }}</td> -->
			<td>{{ k.date }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<p>No property has been added to the database.</p>
{% endif %}

<br />
{% endblock %}
